---
import Footer from "@components/general/Footer.astro";
import Navbar from "@components/general/Navbar.astro";
import "../styles/style.css";
import { inject } from "@vercel/analytics";
inject();
---

<Navbar />
<main class="container">
  <slot />
</main>
<Footer />
